.bar{
  padding: 0.5rem;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 3;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.1rem 0.1rem #88888845;
}

.image{
  width: 1.5rem;
  height: 1.5rem;
}

.linkContainer{
  width: 3.5rem;
  min-width: 3.5rem;
  height: 3.5rem;
  min-height: 3.5rem;
  justify-content: center;
  align-items: center;
}

.title{
  font-size: 0.6rem;
  text-align: center;
}

